RestConsumo/Connected Services/ServiciosRest/ReservaService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/servicioTickets.wcf/ReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/servicioTickets.dominio" />
  <xs:element name="BookFlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vueloID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
        <xs:element minOccurs="0" name="asientos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BookFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BookFlightResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/servicioTickets.dominio" minOccurs="0" name="GetReservationsResult" nillable="true" type="q1:ArrayOfReserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reservaID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelReservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/servicioTickets.dominio" minOccurs="0" name="reserva" nillable="true" type="q2:Reserva" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyReservaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>