RestConsumo/Connected Services/ServiciosRest/ReservaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ReservaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/servicioTickets.wcf/ReservaService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/servicioTickets.wcf/ReservaService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/servicioTickets.wcf/ReservaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/servicioTickets.dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReservaService_BookFlight_InputMessage">
    <wsdl:part name="parameters" element="tns:BookFlight" />
  </wsdl:message>
  <wsdl:message name="IReservaService_BookFlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:BookFlightResponse" />
  </wsdl:message>
  <wsdl:message name="IReservaService_GetReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservations" />
  </wsdl:message>
  <wsdl:message name="IReservaService_GetReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="IReservaService_CancelReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelReservation" />
  </wsdl:message>
  <wsdl:message name="IReservaService_CancelReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelReservationResponse" />
  </wsdl:message>
  <wsdl:message name="IReservaService_ModifyReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:ModifyReserva" />
  </wsdl:message>
  <wsdl:message name="IReservaService_ModifyReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModifyReservaResponse" />
  </wsdl:message>
  <wsdl:portType name="IReservaService">
    <wsdl:operation name="BookFlight">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservaService/BookFlight" message="tns:IReservaService_BookFlight_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservaService/BookFlightResponse" message="tns:IReservaService_BookFlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservaService/GetReservations" message="tns:IReservaService_GetReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservaService/GetReservationsResponse" message="tns:IReservaService_GetReservations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservaService/CancelReservation" message="tns:IReservaService_CancelReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservaService/CancelReservationResponse" message="tns:IReservaService_CancelReservation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModifyReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IReservaService/ModifyReserva" message="tns:IReservaService_ModifyReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReservaService/ModifyReservaResponse" message="tns:IReservaService_ModifyReserva_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReservaService" type="tns:IReservaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BookFlight">
      <soap:operation soapAction="http://tempuri.org/IReservaService/BookFlight" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReservations">
      <soap:operation soapAction="http://tempuri.org/IReservaService/GetReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReservation">
      <soap:operation soapAction="http://tempuri.org/IReservaService/CancelReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyReserva">
      <soap:operation soapAction="http://tempuri.org/IReservaService/ModifyReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReservaService">
    <wsdl:port name="BasicHttpBinding_IReservaService" binding="tns:BasicHttpBinding_IReservaService">
      <soap:address location="http://localhost/servicioTickets.wcf/ReservaService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>