RestConsumo/Connected Services/ServiciosRest/ReservaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/servicioTickets.dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/servicioTickets.dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReserva">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reserva" nillable="true" type="tns:Reserva" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReserva" nillable="true" type="tns:ArrayOfReserva" />
  <xs:complexType name="Reserva">
    <xs:sequence>
      <xs:element minOccurs="0" name="AsientosReservados" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ReservaID" type="xs:int" />
      <xs:element minOccurs="0" name="UsuarioID" type="xs:int" />
      <xs:element minOccurs="0" name="VueloID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reserva" nillable="true" type="tns:Reserva" />
</xs:schema>